<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ListExample</title>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="basic.css"/>
    <script src="angular.js"></script>
    <script src="angular-1.5.7/angular.min.js"></script>
    <script src="cityData.js"></script>
    <script src="listExample-controller.js"></script>
</head>
<body>
<div ng-app="myapp" ng-controller="listController">
    <div class="form-group">
        <div class="col-sm-6">
            <div class="border-attribute">
                <div class="title">下拉列表</div>
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control" ng-model="user.province" ng-options="province.label for province in user.provinces">
                            <option value="">-- 请选择省份 --</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="user.city" ng-options="city.label for city in user.province.citys">
                            <option value="">-- 请选择市 --</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="user.area" ng-options="area.label for area in user.city.areas">
                            <option value="">-- 请选择区--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>